@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.centered-text {
    text-align: center;
    margin: auto;
    max-width: 80%; /* Adjust as needed */
  }